* {
    box-sizing: border-box;
    -webkit-appearance: none;
    }

body{
    background:url('https://images.unsplash.com/photo-1505892148330-7b4e69218206?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80') fixed;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;   
    font-family: 'Play', sans-serif;
}
#background-wrapper{
    background: rgba(251, 251, 251, 0.5);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}
header{
    margin-top: 20px;
    font-size: 20px;
    padding-top:15px;
    padding-right: 15px;
    padding-left: 15px;
}
.home{
    display:block;
    margin:0;
    object-fit: contain;
}
 header h1{
margin-top: 20px;
}
nav{
    position:fixed;
    width:100%;
    height:30px;
}
#urbanAreasForm{
    background-color: #0B5563;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#urbanAreas-submit{
    margin-left: 10px;
    padding-left: 10px;
}
#compareCity{
    background-color:#28AFB0
}
#urbanAreas-submit-secondary{
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom:5px;
}
#results-one-container{
    
    background-color:#6B5CA5;
    background-size:cover;
    margin-top: 0;
}
#results-one{
margin-top: 80px;
padding:3vmin;
color:#333;
font-size: 14px;
}
.secondaryCitySumScore{
    background-color:#28AFB0
}
.header-wrapper{
    text-align: left;
    background:#5299D3;
    font-size: 12px;
}
.header-wrapper th{
    padding:.3em;
}
.scoreRow{
    display:flex;
    padding: .3em 1em;
}
.scoreName{
    flex:8;
}
.scoreValue, .diffValue{
    flex:2;
    text-align:left;
    padding-left:.5em;
}
.scoreRowWrapper:nth-child(even) {
    background: #5299D3;
}
.scoreRowWrapper:nth-child(odd) {
    background: #C4DBEC;
}

.scoreRowWrapper:hover{
    background:#28AFB0;
    font-weight:bold;
}

p{
    line-height:1.3;
    margin-bottom:.6em;
    color:#eee;
}

#message{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding:2em;
    color:red;
    font-size:7vmin;
    background: rgba(0,0,0,.75);
}