* {
    box-sizing: border-box;
    -webkit-appearance: none;
    }

body{
    background:url('https://images.unsplash.com/photo-1505892148330-7b4e69218206?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80') fixed;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;   
}
#background-wrapper{
    background: rgba(251, 251, 251, 0.5);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}
header{
    margin-top: 20px;
    font-size: 20px;
    padding-top:15px;
    padding-right: 15px;
    padding-left: 15px;
}
.home img{
    display:block;
    margin:auto;
}
 header h1{
margin-top: 20px;
}
nav{
    background-color: #0B5563;
    position:fixed;
    width:100%;
    height:30px;
}
#urbanAreasForm{
    padding-top: 5px;
    padding-left: 10px;
}
#urbanAreas-submit{
    margin-left: 10px;
    padding-left: 10px;
}
#results-one-container{
    
    background-color:#6B5CA5;
    margin-top: 0;
}
#results-one{
margin-top: 30px;
padding-left: 10px;
padding-top: 10px;
}
#results-one{

}
#results-two-container{
    background-color:#28AFB0

}
#results-two{
    padding-left: 10px;
    }

#urbanAreasForm-secondary{

}